<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.apple.macosbooter.audio.AudioComponentRegistrar</string>
    <key>ProgramArguments</key>
    <array>
        <string>/var/jb/usr/macOS/bin/launchdchrootexec</string>
        <string>0</string>
        <string>0</string>
        <string>/var/mnt/rootfs</string>
        <string>/System/Library/Frameworks/AudioToolbox.framework/AudioComponentRegistrar</string>
        <string>-daemon</string>
    </array>
    <key>MachServices</key>
    <dict>
        <key>com.apple.macosbooter.audio.AudioComponentRegistrar</key>
        <true/>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>XPC_SERVICE_NAME</key>
        <string>com.apple.macosbooter.audio.AudioComponentRegistrar</string>
    </dict>
    <key>ProcessType</key>
    <string>Adaptive</string>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>StandardOutPath</key>
    <string>/var/jb/var/mobile/macws-audio-component-registrar.log</string>
    <key>StandardErrorPath</key>
    <string>/var/jb/var/mobile/macws-audio-component-registrar.log</string>
</dict>
</plist>
