<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>CA_VSYNC_OFF</key>
		<string>1</string>
	</dict>
	<key>Label</key>
	<string>com.apple.WindowServer</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.CARenderServer</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.CoreDisplay.Notification</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
			<key>ResetAtClose</key>
			<true/>
		</dict>
		<key>com.apple.CoreDisplay.master</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.VirtualDisplay</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.iohideventsystem</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
		<key>com.apple.windowserver</key>
		<true/>
		<key>com.apple.windowserver.active</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.windowserver.watchdog</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/var/jb/usr/macOS/bin/launchdchrootexec_debug</string>
		<string>0</string>
		<string>0</string>
		<string>/var/mnt/rootfs</string>
		<string>/System/Library/PrivateFrameworks/SkyLight.framework/Resources/WindowServer_arm64</string>
		<string>-virtualonly</string>
		<string>-daemon</string>
	</array>
	<key>StandardOutPath</key>
	<string>/var/jb/var/mobile/WindowServer.out</string>
	<key>StandardErrorPath</key>
	<string>/var/jb/var/mobile/WindowServer.err</string>
</dict>
</plist>
