<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.macwsguide.audio-output</string>
    <key>ProgramArguments</key>
    <array>
        <string>/var/jb/usr/macOS/bin/macwsaudiooutd</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>StandardOutPath</key>
    <string>/var/jb/var/mobile/macws-audio-output.log</string>
    <key>StandardErrorPath</key>
    <string>/var/jb/var/mobile/macws-audio-output.log</string>
</dict>
</plist>
