<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.macwsguide.filecoordination</string>
    <key>POSIXSpawnType</key>
    <string>Interactive</string>
    <key>ProgramArguments</key>
    <array>
        <string>/var/jb/usr/macOS/bin/launchdchrootexec</string>
        <string>0</string>
        <string>0</string>
        <string>/var/mnt/rootfs</string>
        <string>/usr/sbin/filecoordinationd</string>
    </array>
    <key>MachServices</key>
    <dict>
        <key>com.apple.macosbooter.FileCoordination</key>
        <true/>
        <key>com.apple.macosbooter.FileCoordination.kernel.ipc</key>
        <true/>
        <key>com.apple.macosbooter.ProgressReporting</key>
        <true/>
    </dict>
    <key>EnablePressuredExit</key>
    <true/>
    <key>HardResourceLimits</key>
    <dict><key>NumberOfFiles</key><integer>10240</integer></dict>
    <key>SoftResourceLimits</key>
    <dict><key>NumberOfFiles</key><integer>10240</integer></dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/jb/var/mobile/filecoordination-macos.log</string>
    <key>StandardErrorPath</key>
    <string>/var/jb/var/mobile/filecoordination-macos.log</string>
</dict>
</plist>
