<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.macwsguide.xtyped</string>
    <key>ProgramArguments</key>
    <array>
        <string>/var/jb/usr/macOS/bin/launchdchrootexec</string>
        <string>0</string>
        <string>0</string>
        <string>/var/mnt/rootfs</string>
        <string>/System/Library/Frameworks/ApplicationServices.framework/Frameworks/ATS.framework/Support/fontd</string>
    </array>
    <key>MachServices</key>
    <dict>
        <key>com.apple.fonts</key>
        <true/>
        <key>com.apple.fonts.atsbridge</key>
        <true/>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>NSRunningFromLaunchd</key>
        <string>1</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>StandardOutPath</key>
    <string>/var/jb/var/mobile/fontd.log</string>
    <key>StandardErrorPath</key>
    <string>/var/jb/var/mobile/fontd.log</string>
</dict>
</plist>
