<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.macwsguide.macos-diskarbitrationd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.macosbooter.DiskArbitration.diskarbitrationd</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/var/jb/usr/macOS/bin/launchdchrootexec</string>
		<string>0</string>
		<string>0</string>
		<string>/var/mnt/rootfs</string>
		<string>/usr/libexec/diskarbitrationd</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>__CF_USER_TEXT_ENCODING</key>
		<string>0x0:0:0</string>
		<key>__CFPREFERENCES_AVOID_DAEMON</key>
		<string>1</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/var/jb/var/mobile/macos-diskarbitrationd.out</string>
	<key>StandardErrorPath</key>
	<string>/var/jb/var/mobile/macos-diskarbitrationd.err</string>
</dict>
</plist>
