<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>application-identifier</key>
    <string>A4QBZ46HAP.com.gameloft.asphalt9mac</string>
    <key>com.apple.application-identifier</key>
    <string>A4QBZ46HAP.com.gameloft.asphalt9mac</string>
    <key>com.apple.developer.team-identifier</key>
    <string>A4QBZ46HAP</string>
    <key>keychain-access-groups</key>
    <array>
        <string>A4QBZ46HAP.com.gameloft.asphalt9mac</string>
        <string>A4QBZ46HAP.com.gameloft.SingleSignonGames</string>
    </array>
    <key>get-task-allow</key>
    <true/>
</dict>
</plist>
