<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Appearance</string>
    <key>CFBundleExecutable</key>
    <string>SettingsExtensionProxy</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>ISGraphicIconConfiguration</key>
        <dict>
            <key>ISEnclosureColor</key>
            <string>Black</string>
            <key>ISSymbolColor</key>
            <string>White</string>
            <key>ISSymbolName</key>
            <string>appearance</string>
        </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>com.apple.Appearance-Settings.extension</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Appearance</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>EXAppExtensionAttributes</key>
    <dict>
        <key>EXExtensionPointIdentifier</key>
        <string>com.apple.Settings.extension.ui</string>
        <key>SettingsExtensionAttributes</key>
        <dict>
            <key>allowsXAppleSystemPreferencesURLScheme</key>
            <true/>
            <key>CloudSyncConfiguration</key>
            <dict>
                <key>platforms</key>
                <array>
                    <string>Mac</string>
                </array>
                <key>storeIdentifier</key>
                <string>com.apple.cloudsettings.appearance</string>
            </dict>
            <key>legacyBundleIdentifier</key>
            <string>com.apple.preference.general</string>
            <key>legacyPrefPaneBundleName</key>
            <string>Appearance.prefPane</string>
            <key>searchTermsFileName</key>
            <string>Appearance</string>
        </dict>
    </dict>
    <key>DTPlatformName</key>
    <string>macosx</string>
    <key>DTPlatformVersion</key>
    <string>13.4</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.4</string>
    <key>UIDeviceFamily</key>
    <array>
        <integer>2</integer>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
</dict>
</plist>
